@import 'src/shared/styles/variables.scss';

.groom-content {
    position: relative;

    .content {
        width: calc(100% - 300px);
        height: inherit;

        .voting-list-item {
            position: relative;
            color: #51c19d;
            width: 150px;
            height: 100px;
            border: 2px solid #308c6e;
            border-radius: 5px;
            box-sizing: border-box;
            margin-right: 10px;
            user-select: none;
            cursor: pointer;

            > span {
                position: absolute;
                font-size: 36px;
                font-weight: 600;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &:hover,
            &:focus,
            &:active,
            &.selected {
                color: white;
            }

            &:hover {
                background-color: #3ba582;
            }

            &:focus,
            &:active,
            &.selected {
                background-color: #308c6e;
            }
        }

        .result-list-item {
            -moz-transition: width 0.3s ease-in-out;
            -o-transition: width 0.3s ease-in-out;
            -webkit-transition: width 0.3s ease-in-out;
            transition: width 0.3s ease-in-out;
            font-size: 20px;
            font-weight: 700;
        }

        .results-list-hidden .result-list-item {
            width: 0%;
        }

        .results-list-open .result-list-item {
            width: 100%;
        }

        .final-result-title {
            font-size: 24px;
            font-weight: 600;
        }

        .final-result-body {
            font-size: 36px;
            font-weight: 700;
        }
    }

    aside {
        width: 300px;
        height: inherit;
        background-color: white;
        position: relative;

        .timer {
            margin-bottom: 1em;

            .timer-time {
                font-size: 56px;
                font-weight: 600;
                opacity: 1;

                &.off-limit {
                    color: #c55653;
                    animation: opacity 1s infinite;
                }

                &.on-limit {
                    color: #308c6e;
                }
            }
        }

        .session--settings {
            margin-top: 1em;

            .copy-options {
                user-select: none;
                display: table;
                width: 100%;
                height: 35px;

                & > .copy-options-input,
                & > .copy-options-button {
                    display: table-cell;
                    height: 100%;
                    padding: 0 15px;
                    border: 1px solid #51c19d;
                }

                .copy-options-input {
                    width: 100%;
                    border: 1px solid #51c19d;
                    border-radius: 5px 0px 0px 5px;
                    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
                    font-size: 14px;
                    outline: none;

                    &:focus {
                        box-shadow: 0 0 0 3px rgba(211, 211, 211, 0.7);
                    }
                }

                .copy-options-button {
                    width: 50px;
                    background-color: white;
                    border-left: none;
                    border-radius: 0px 5px 5px 0px;
                    color: #989898;
                    cursor: pointer;
                    font-weight: 700;

                    &:hover {
                        color: white;
                        background-color: rgba(81, 193, 157, 0.6);
                    }

                    &:focus,
                    &:active {
                        color: white;
                        background-color: rgba(81, 193, 157, 1);
                    }
                }
            }
        }

        .users {
            margin-top: 1em;

            .users-list {
                li {
                    margin-bottom: 2px;
                }

                .voted-user {
                    border-radius: 5px;
                    line-height: 16px;
                    padding: 4px 5px;
                }
            }
        }
    }
}

@media screen and (max-width: $mobileMaxWidth) {
    .groom-content {
        flex-direction: column-reverse;

        .content {
            width: 100%;

            .voting-list-item {
                width: 54px;
                height: 36px;

                > span {
                    font-size: 24px;
                }
            }

            .result-list-item {
                font-size: 18px;
            }

            .final-result-title {
                font-size: 18px;
            }

            .final-result-body {
                font-size: 24px;
            }
        }

        aside {
            width: 100%;

            .timer {
                .timer-time {
                    font-size: 36px;
                }
            }

            .users {
                margin-bottom: -1em;

                .users-list {
                    margin-left: -1em;
                }
            }
        }
    }
}
